.s-card-size {
  height: 30rem;
}

.s-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.s-table-header-control th:not(:first-child) {
  width: 200px;
}

.s-table-header-control th:first-child {
  width: 115px;
}

.s-button {
  font-weight: 700;
  padding: 0;
}

.btn-link {
  color: #000;
}
