.s-column-size {
  text-align: right;
  width: 100px;
}

.s-media {
  display: block;
  margin: 15px auto 0;
}

.s-overlay {
  padding: 0;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.s-row-positioning {
  margin-top: -15rem;
}

.s-spacing-all {
  margin: 3rem 1rem 0 3rem;
}
